@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

body {
    background: #204d2a;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.card {
    background: #f0f0f0;
    height: 85vh; 
    width: 80vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 1em; /* поміняв 'lem' на '1em' */
    overflow: hidden;
    transition: background-color 0.3s ease-in-out; /* Додав анімацію для зміни кольору фону */
}

.card img.birthday {
    width: 15%; /* Змінюємо ширину зображення на 80% ширини контейнера */
    max-height: 70vh; /* Змінюємо максимальну висоту зображення */
    object-fit: cover; /* Запобігаємо розтягненню зображення */
}


.card:hover {
    background-color: #f0f0f0; /* Змінюємо колір фону при наведенні миші */

@media only screen and (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

@media only screen and (max-height: 640px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.birthday{
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}
}

img.birthday {
    max-height: 40vh;
}

.text {
    padding: 1em; /* поміняв 'lem' на '1em' */
    color: #000; /* Змінюємо колір тексту на чорний */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text p {
    margin: 0.5em 0; /* Зменшуємо відступи між параграфами */
    padding-bottom: 0.5em; /* Додаємо відступ у нижній частині кожного параграфу */
    color: #060505; /* Змінюємо колір тексту в параграфі на білий */
}

.muted {
    opacity: 0.8;
}

.space {
    height: 100px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
